:root{
    --color-primary:#C06F75;
    --color-secondary:#C07E83;
    --color-accent:#C88287;
    --color-black:#2D2D2D;
    --color-light-black:#8F8E8E;
    --color-white:#fff;
    --color-yellow: #f4d504;
  }
  