
*,*::after,*::before{
  box-sizing: border-box;
}
/*variables*/
:root{
  --color-primary:#C06F75;
  --color-secondary:#C07E83;
  --color-accent:#C88287;
  --color-black:#2D2D2D;
  --color-light-black:#8F8E8E;
  --color-white:#fff;
  --weight-light: 200;
  --weight-reg:400;
  --weigth-med:500;
  --weight-bold:700;
  --color-yellow: #f4d504;
  --font-serif:'Playfair Display', serif;
}

/*Typography*/
html{
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
}
body{
  color: var(--color-black);
  font-size: 2.4rem;
  font-weight: var(--weight-reg);
}
h1{
  font-size: 4.8rem;
  font-weight: var(--weight-bold);
  margin-bottom: 0;
  padding-bottom: 0;
}
h2{
  font-size: 3.2rem;
  font-weight: var(--weigth-med);
  text-transform: uppercase;
}
h3{
font-size: 3.2;
font-weight: var(--weigth-med);
color: var(--color-white);
text-transform: uppercase;
margin:0;
}
h4{
  font-size: 3.2rem;
  font-weight: var(--weigth-med);
}
.text-special{
  color: var(--color-white);
  font-size: 3.2rem;
  font-weight: var(--weight-reg);
}
.fine-print{
  font-size: 1.5rem;
  color: var(--color-light-black);
  text-transform: uppercase;
  font-weight: var(--weight-light);
}
/*Links*/
a:link, a:visited{
  font-weight: var(--weight-light);
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.link-action:link, .link-action:visited{
  color: var(--color-white);
  font-size: 2rem;
  font-weight: var(--weight-reg);
}

/*list*/
.list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.list__in-line{
  display: inline-block;
  margin: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .nav-links:link, .nav-links:visited{
    font-size: 2rem;
    font-weight: var(--weight-reg);
    color: var(--color-white);
    text-transform: uppercase;
  }
}

/*icons*/
.icons{
  width: 50px;
  height: 50px;
  margin: 1rem;
  color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.icons:hover{
  background-color: #F8F7F7;
}

.icon-row{
  display: flex;
}
/*notifications*/
.notifications{
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.noti-text{
  margin: 0;
  padding: 1rem;
}

 /*poster*/
 .poster__box{
   width: 348px;
   height: 129px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.poster--secondary{
  background-color: var(--color-secondary);
}

/*Button*/
#btn{
  background-color: var(--color-accent);
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  color: var(--color-white);
}

/*Collected List*/
.collected-menu{
  width: 348px;
  display: flex;
  align-items: center;
  background-color: #F8F7F7;
}

/*open menu*/
.open-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.list-menu{
  padding: 2rem;
}

/*article*/
.article-footer{
  display: block;
}

/*information section*/
.article-info{
  background-color: var(--color-secondary);
  padding: 5rem;
}

@media screen and (min-width: 1024px) {
  .article-info{
    max-width: 590px;
  }
}

/*card*/
.card{
  margin: 1rem 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
}

.card-main{
  padding: 2rem;
}

.card-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card{
    width: 70%;
  }
}
/*linked card*/
.linked-card:hover{
  text-decoration: none;
}

/*headlines*/
.headline__image{
  width: 100%;
}

/*collapsible menu*/
.collapsible{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.collapsible-menu{
  float: inline-end;
  position: absolute;
  top: 40px;
  z-index: 1;
}

/*footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*hero*/
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-primary);
}
.hero-logo{
  width: 80%;
}
.hero-header, .hero-main{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 100%;
  flex-direction: column;
}
.hero-main{
  display: flex;
}

.hero-image{
  width: 80%;
  filter: drop-shadow(0 0 20px #222);
}

@media screen and (min-width: 1024px) {
  .hero-logo{
    width: 20%;
  }
  .hero-header, .hero-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
  .hero-image{
    height: 90vh;
    width: auto;
    transform: translate(400px);
  }
 .hero-info{
   transform: translate(200px, -600px);
 }
 
  
}

/*final*/

@media screen and (min-width: 1024px) {
  .final-main{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  .final-cards{
    display: flex;
    flex-direction: column;
  }
  
}
/*For specific browsers*/
.article-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.article-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/*Typography*/
.credentials{
  color: var(--color-yellow);
  font-size: 1.5rem;
  font-style: italic;
}
.bold{
  font-weight: var(--weight-bold);
}

/*Background Image*/
.hero-articles--background{
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/*Home button*/
.home-logo{
width: 30%;
}

/*Audio Button*/
.audio{
  height: 40px;
  margin: 1rem;
}

/*article navigation*/
.article-nav{
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction:row;
  align-items: center;
}
/* hero articles*/
.hero-articles--overall{
  position: relative;
}
.hero--article-nav{
  position: absolute;
  top: 3rem;
}

/*inline pictures*/
.in-line-image{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inline-pic-link:hover{
  text-decoration: none;
}
/*quotes*/
.quotes{
  color: var(--color-light-black);
  width: 100%;
}
.quotes-words{
  font-family: var(--font-serif);
  padding: 2rem;
}

/*article Main*/
.article-main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-serif);
}
.article-main--header{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.article-main--paragraph{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*final article size*/
@media screen and (min-width:1024px) {
  .fit-on-screen{
      max-width: 1024px;
  }
  
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
}