
*,*::after,*::before{
  box-sizing: border-box;
}
/*variables*/
:root{
  --color-primary:white;
  --color-secondary:#3F403F;
  --color-accent:#F6B398;
  --color-black:#2D2D2D;
  --color-light-black:#8F8E8E;
  --color-light-grey:#f5f5f5;
  --color-white:#fff;
  --color-pearlS:#EFAAC4;
  --color-health:#B0DB43;
  --color-upcoming:#00be70;
  --color-ad:red;
  --color-cover:#b411b4;
  --color-color1:#CF5C36;
  --color-color2:#2D3142;
  --color-spiritual:#000000;
  --color-social-justice:linear-gradient(90deg, rgba(255,3,0,1) 0%, rgba(255,162,0,1) 16%, rgba(230,241,20,1) 31%, rgba(22,215,49,1) 47%, rgba(16,137,193,1) 64%, rgba(15,33,236,1) 77%, rgba(93,10,238,1) 85%, rgba(214,12,181,1) 100%, rgba(192,111,112,1) 100%);;
  --weight-light: 200;
  --weight-reg:400;
  --weigth-med:500;
  --weight-bold:700;

}

/**Settings**/
html{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-weight: var(--weight-reg);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}


/**Typography**/

body h1{
  font-size: 4rem;
}
h2{
  font-size: 3.5rem;
}
h3{
  font-size: 3rem;
}
h4{
  font-size: 2.5rem;
}
p{
  font-size: 1.5rem;
  margin: 0.5rem;
}
.fine-print{
  font-size: 1rem;
  color: var(--color-light-black);
  text-transform:uppercase;
}
.white{
  color: white;
}

@media screen and (min-width:1024px) {
  p{
    font-size: 2rem;
    margin: 0.5rem;
  }
  .fine-print{
    font-size: 1.5rem;
    color: var(--color-light-black);
    text-transform:uppercase;
  }
  .white{
    color: white;
  }
  .article-date__container .article-date{
    font-size: 120%;
    color: #006692;
  }
}

/**links**/
a, a:link, a:hover{
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

/**Button**/
button{
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  
}
.btn{
  font-size: 2rem;
  border-radius: 10px;
  font-weight: var(--weigth-med);
}
.btn--accent__solid{
  color: var(--color-white);
  background-color: var(--color-accent);
}
.btn--accent__outline{
  color: var(--color-accent);
  border: 3px solid var(--color-accent);
}

/**logo**/
.logo-container{
  max-width: 50vw;
}
.logo-image{
  max-width: 100%;
}

@media screen and (min-width:768px) {
  .logo-image{
    max-width: 80%;
  }
}

@media screen and (min-width:1024px) {
  .logo-image{
    max-width: 300px;
  }
}


/**icons**/
.icons{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
}

/**embedded youtube**/
iframe{
  height: 100%;
  width: 100%;
  
}
@media screen and (min-width:768px) {
  iframe{
    height: 100%;
    width: 100%;
    position: absolute;
  z-index: 99;
  }
}

/**article info**/
.info-container{
  height: 30%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

}

.article-info, .article-date__container, .article-type{
  display: flex;
  align-content: center;
  margin: 0 1rem;
}
.article-type{
  justify-content: center;
}
.article-date__container .article-date{
  font-size: 100%;
  color: #006692;
}

@media screen and (min-width:768px) {
  .info-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.664);
    height: 20%;
  }
}

@media screen and (min-width:1024px) {
  .info-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.664);
    width: 100%;
    height: 100%;
    transform: translate(100%, 0);
    transition: all 500ms;
  }
  .headlines:hover .info-container{
    transform: translate(0, 0);
  }
}

/**headlines**/
.headlines{
  width: 80%;
  position: relative;
  margin: 2rem 1rem;
  background-color: white;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.205);
  transition: translate 1s;
}

@media screen and (min-width:768px) {
  .headlines{
    width: 100%;
    height: 500px;
    position: relative;
    justify-self: center;
  }
}

@media screen and (min-width:1024px) {
  .headlines{
    overflow: hidden;
  }
}

/**Imageholder**/
.headline-imageholder{
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}
.headline-image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/**Banner**/
.banner{
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.themed{
  background-color: #000000;
}
.pearlS{
  background-color: var(--color-pearlS);
}
.upcoming{
  background-color: var(--color-upcoming);
}
.cover{
  background-color: var(--color-cover);
}
.spiritual{
  background-color: var(--color-spiritual);
}
.social-justice{
 background-image: var(--color-social-justice);
}
.banner p {
  color: white;
  margin: 0.5rem 1rem;
  font-size: 1rem;
}

/**carrousell**/
.info-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  min-height: 30%;
  position: absolute;
  bottom: 1rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
  width: 100%;
}
.element-container{
  position: relative;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-banner{
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.hero-text{
  margin:2rem;
  color: white;
}
.container__carrousel{
  width: 100vw;
  overflow-x: hidden;
  height: 40vh;
}
.flexible-container{
  height: 100%;
  display: flex;
  animation: carrousel 30s ease-in-out 2s infinite normal none;
}
.info-container__hero{
  width: 100%;
  height: 100%;
}

.sphesihle{
  object-position: top;
}

@keyframes carrousel {
  0%{
    transform: translate(0, 0);
  }
 15%{
  transform: translate(0, 0);
 }
 17%{
  transform: translate(-100%, 0);
 }
 32%{
  transform: translate(-100%, 0);
 }
 34%{
  transform: translate(-200%, 0);
 }
 49%{
  transform: translate(-200%, 0);
 }
 51%{
  transform: translate(-300%, 0);
 }
 66%{
  transform: translate(-300%, 0);
 }
 68%{
  transform: translate(-400%, 0);
 }
 83%{
  transform: translate(-400%, 0);
 }
 85%{
  transform: translate(-500%, 0);
 }
 100%{
  transform: translate(-500%, 0);
 }
}

@media screen and (min-width:1024px) {
  .element-container{
    position: relative;
    height: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info-container__hero{
    width: 100vw;
    height: 100%;
  }
  .container__carrousel{
    width: 1024px;
    overflow-x: hidden;
    height: 60vh;
  }
}

/**Hero section**/
.socials{
  color: var(--color-secondary);
  width: 100%;
  display: flex;
  height: auto;
  padding: 1rem;
}
.socials a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-bar{
  display: flex;
  justify-content: center;
  width: 100vw;
}
@media screen and (min-width:768px) {
  .socials{
    max-width: 300px;
  }
  .top-bar{
    display: flex;
    justify-content: space-between;
  }
}

/**Headlines section**/
.headlines-section{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fit-to-screen{
  max-width: 1024px;
}

@media screen and (min-width:768px) {
  .headlines-section{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5rem 2rem 0;
}
}
@media screen and (min-width:1024px) {
  .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headlines-section{
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10rem auto;
}
}