*,*::after,*::before{
  box-sizing: border-box;
}
/*variables*/
:root{
  --color-primary:white;
  --color-secondary:#C07E83;
  --color-accent:#C88287;
  --color-black:#2D2D2D;
  --color-light-black:#8F8E8E;
  --color-light-grey:#f8f8f8;
  --color-white:#fff;
  --weight-light: 200;
  --weight-reg:400;
  --weigth-med:500;
  --weight-bold:700;
}

/*Typography*/
html{
  font-size: 62.5%;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  font-weight: var(--weight-light);
  overflow-x: hidden
}
body{
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: var(--weight-reg);
  position: relative;
  width: 100vw;
  ;
}
h1{
  font-size: 4.8rem;
  font-weight: var(--weight-bold);
  margin-bottom: 0;
  padding-bottom: 0;
}
h2{
  font-size: 2rem;
  font-weight: var(--weigth-med);
  text-transform: uppercase;
}
h3{
font-size: 3.2;
font-weight: var(--weigth-med);
color: var(--color-white);
text-transform: uppercase;
margin:0;
}
h4{
  font-size: 2rem;
  font-weight: var(--weigth-med);
  text-align: center;
}
.text-special{
  color: var(--color-white);
  font-size: 3.2rem;
  font-weight: var(--weight-reg);
}
.fine-print{
  font-size: 1rem;
  color: var(--color-light-black);
  text-transform: uppercase;
  font-weight: var(--weight-light);
}
.bold{
  font-weight: var(--weight-bold);
}
.italic{
  font-style: italic;
  color: var(--color-light-black);
}
/*Links*/
a{
  width: 100%;
}
a:link, a:visited{
  font-weight: var(--weight-light);
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.link-action:link, .link-action:visited{
  color: var(--color-white);
  font-size: 2rem;
  font-weight: var(--weight-reg);
}

/*list*/
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  
}
.list__in-line{
  display: inline-block;
  margin: 0 1rem;
}



@media screen and (min-width: 1024px) {
  .nav-links:link, .nav-links:visited{
    font-size: 2rem;
    font-weight: var(--weight-reg);
    color: var(--color-white);
    text-transform: uppercase;
  }
}

/*icons*/
.icons{
  width: 50px;
  height: 50px;
  color: var(--color-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon-row{
  display: flex;
}
/**----------------Start Point------------------**/


/**button**/
button{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/**Button-Icon**/

.btn-container{
  width: 50px;
  height: 50px;
  background-color: var(--color-light-grey);
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 4px;

}
.btn__nav{
  width: 100%;
  height: 100%;

}
.icons__nav{
  color: var(--color-black);
}

/**Navigation Bar - disappearing list**/
.nav-bar__modal{
  background-color: var(--color-light-grey);
}
.linked-list__nav-bar{
  padding: 2rem 2rem;
  width: 100%;
}
.list-menu__nav-bar{
  display: flex;
  flex-direction: column;
}

.list-item__nav{
  font-weight: var(--weigth-med);
  padding: 1rem 0;
}
a.linked-list:hover{
  background-color: var(--color-light-black);
  transition: background-color 1.5s ease;
}

/*modal*/
.modal-close-btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal{
  position: fixed; 
  top: 0;  
  left:0;
  transition: 300ms ease-in-out;
  transform:translate(0, -100vh);
  z-index: 9999;
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
 }
 .modal.active{
     transform:translate(0);
 }
 #overlay{
     position: fixed;
     top:0;
     bottom: 0;
     right: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.521);
     pointer-events: none;
     opacity: 0;
     transition: 200ms ease-in-out;
 }
 
 #overlay.active{
     pointer-events: all;
     opacity: 1;
 }

/** Navigation Bar**/
.logo__nav{
  width: 80%;
  max-width: 600px;
}

.navigation-bar, .logo-container__nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-menu__nav{
  margin: 0 1rem ;
}

.bigger-screen__nav{
  display: none;
}

@media screen and (min-width: 1024px) {
  .btn-container__nav{
    display: none;
  }
  .bigger-screen__nav{
    display: flex;
    justify-content: center;
    max-width: 30%;
  }
  .logo__nav{
    width: 200px;
  }
  .logo-container__nav{
    display: flex;
    justify-content: left;
  }
  
  .navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
  }
  .linked-list__nav{
    width: 100px;
  }
  a.linked-list:hover{
    background:none;
    text-decoration: underline;
    transition: text-decoration 1.5s ease;
  }
}

/**----------------mid Point------------------**/
 /*poster*/
 .poster__box{
   width: 348px;
   height: 129px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
.poster--secondary{
  background-color: var(--color-secondary);
}

/*Button*/
#btn{
  background-color: var(--color-accent);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  color: var(--color-white);
  font-size: 1.5rem;
}

/*Collected List*/
.collected-menu{
  width: 348px;
  display: flex;
  align-items: center;
  background-color: #F8F7F7;
}

/*open menu*/
.open-menu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.list-menu{
  padding: 2rem;
}

/*article*/
.article-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*information section*/
.article-info{
  background-color: var(--color-secondary);
  padding: 5rem;
}

@media screen and (min-width: 1024px) {
  .article-info{
    max-width: 590px;
  }
}

/*card*/
.card{
  margin: 1rem 2rem;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.24);
  width:95vw;
}

.card-main{
  padding: 2rem;
}

.card-footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .card{
    width: auto;
  }
}

.embeded-vid{
  width: 100%;
  height: 300px;
}
@media screen and (min-width:1024px) {
  .embeded-vid{
  height: 600px;
}
}

/*linked card*/
.linked-card{
  width: 100%;
}
.linked-card:hover{
  text-decoration: none;
}

/*Hanging Ad*/
.hanging-ad{
  background-color: #00be70;
  color: white;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.212);
}
.hanging-ad:hover{
  background-color: #009959;
}
.hanging-ad__fit{
  padding: 0.5rem 2rem;
}
.hanging-ad__text{
  font-weight: var(--weight-reg);
  font-size: 1.2rem;
}
.hanging-ad__link{
  left: 1rem;
  bottom: 1rem;
  position: fixed;
}
/*Jump*/
.skip{
  width: 70px;
  position: fixed;
  top: 10rem;
  right: 1rem;
  border-radius: 20px;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skip-text{
  font-size: 1rem;
  color: white;
  padding: 1.3rem;
  font-weight: var(--weight-reg);

}

.skip a:hover{
  text-decoration: none;
}

@media screen and (min-width:1024px) {
  .skip{
    display: none;
  }
}

/*Navigation*/


/*content-outline*/
.poster__event{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-event{
  width: 100px;
}
.event-outline{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.event-outline:hover{
  background-color: #f7f7f7;
}

.article-main__event, .article-footer__event{
  text-align: center;
}


/*headlines*/
.headline__image{
  width: 100%;
}

/*collapsible menu*/
.collapsible{
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}
.collapsible-menu{
  float: inline-end;
  position: absolute;
  top: 40px;
  z-index: 1;
}

/*footer*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*hero*/
.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background-color: var(--color-primary);
}
.hero-logo{
  width: 80%;
}
.hero-header, .hero-main{
  display: flex;
  justify-content: center;
  align-items:center ;
  width: 100%;
  flex-direction: column;
}
.hero-main{
  display: flex;
}

.hero-image{
  width: 80%;
  filter: drop-shadow(0 0 20px #222);
}

@media screen and (min-width: 1024px) {
  .hero-logo{
    width: 20%;
  }
  .hero-header, .hero-main{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
  .hero-image{
    height: 90vh;
    width: auto;
    transform: translate(400px);
  }
 .hero-info{
   transform: translate(-300px, -600px);
 }
 
  
}

@media screen and (max-height: 700px) and (min-width: 1024px){
  .hero-info{
    transform: translate(200px, -400px)
  }
}



/*final*/
.final-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .final-main{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;

  }
  .final-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
   
  }
  
  
}
/*For specific browsers*/
.article-main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.article-main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}