<a href="" class="spotlight-link">
    <div class="spotlight">
      <div class="spotlight-thumbnail">
        <div class="spotlight-picture">
          <img
            src="/images/image-esihle sitting on a chair.webp"
            alt=""
          />
        </div>
        <div class="spotlight-name"><h3>Name</h3></div>
      </div>
      <div class="spotlight-details">
        <h3>Full Name</h3>
        <h3>Industry</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
          aspernatur, est vel ut saepe eligendi laboriosam ab tempore
          obcaecati in animi vitae hic id, ipsam numquam quos voluptas
          veniam dolor ad ducimus officia eos beatae quibusdam? Nobis
          minima qui, ea odio impedit sed officiis sapiente sint cum a
          suscipit corrupti sunt, eaque similique! Voluptatibus delectus
          nihil minima provident nobis exercitationem, enim inventore
          dignissimos, ut quidem harum eum sapiente quasi aperiam facere
          earum soluta deserunt autem asperiores nostrum id eaque hic
          ipsa. Dolorum, architecto neque amet sed magnam porro sapiente
          officia aspernatur adipisci nemo placeat facilis ratione ab
          provident. Consequatur, quaerat.
        </p>
</a>