body {
  background-color: whitesmoke;
}
.form {
  width: 100%;
  margin: 1rem auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0 0 10px 2px lightgray;
}
@media screen and (min-width: 768px) {
  .form {
    width: 80%;
    max-width: 768px;
  }
}
textarea {
  resize: vertical;
}

.form-sections {
  margin: 0 0 4rem;
  padding: 0 0 4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}
@media screen and (min-width: 768px) {
  .form-sections {
    margin: 0 0 6rem;
    padding: 0 0 6rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  }
}

.scale {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .scale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
img {
  width: 80%;
  margin: auto;
  display: block;
}
