* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.header,
.boxes-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
img.head-image {
  width: 90vw;
}
.profile {
  width: 85vw;
  flex-direction: row;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.192);
  overflow: hidden;
  border-radius: 30px;
  background-color: white;
  margin: 1rem 0 5rem;
}
.profile-pic {
  width: 80vw;
  border-radius: 15px;
}
.pic,
.info {
  margin: 1rem 0.5rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
p,
h1,
.btn,
.socials {
  padding: 1rem;
}
.info {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
.btn {
  width: 10rem;
  text-align: center;
  border-radius: 2.5rem;
  background-color: black;
}
p {
  text-align: justify;
  text-justify: inter-word;
  max-width: 350px;
}
.more:link,
.more:visited {
  color: lightgrey;
  text-decoration: none;
}
.more:hover {
  color: white;
}
.socials {
  align-self: center;
  display: flex;
}
a:link,
a:visited {
  color: rgb(56, 48, 48);
}
.boxes-socials {
  margin: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.boxes-socials:hover {
  background-color: rgb(235, 235, 235);
}
h1,
p,
.btn {
  align-self: center;
}
.position {
  font-weight: 700;
}
h1 {
  font-size: 250%;
  text-align: center;
}
@media screen and (min-width: 970px) {
  main {
    width: 960px;
  }
  img.head-image {
    height: 20vh;
    width: auto;
  }
  .profile {
    width: 960px;
    width: 100%;
    height: 100%;
    flex-direction: row;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.192);
    overflow: hidden;
    border-radius: 30px;
    background-color: white;
    margin: 1rem 0 5rem;
    height: 643.3px;
  }
  .profile-pic {
    height: 60vh;
    border-radius: 10px;
    width: auto;
  }
  .pic {
    margin: 2rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
  p,
  h1,
  .btn,
  .socials {
    padding: 1rem;
  }
  .info {
    margin: 2rem 1rem 2rem 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .btn {
    width: 10rem;
    text-align: center;
    border-radius: 2.5rem;
    background-color: black;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
    max-width: 350px;
  }
  .more:link,
  .more:visited {
    color: lightgrey;
    text-decoration: none;
  }
  .more:hover {
    color: white;
  }
  .socials {
    align-self: center;
    display: flex;
  }
  a:link,
  a:visited {
    color: rgb(56, 48, 48);
  }
  .boxes-socials {
    margin: 1rem;
    width: 40px;
    height: 40px;

    border-radius: 5px;
  }
  .boxes-socials:hover {
    background-color: rgb(235, 235, 235);
  }
  h1,
  p,
  .btn {
    align-self: center;
  }
}
