html {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: #f5f5f5;
  animation-name: pop;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  background: #9a7f81;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes pop {
  0% {
    background: #ef7c8e;
  }
  25% {
    background: #fae8e0;
  }
  50% {
    background: #b6e2d3;
  }
  100% {
    background: #9a7f81;
  }
}
@keyframes attention {
  0% {
    transform: rotate(1deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(0.5deg);
  }
  60% {
    transform: rotate(-0.5deg);
  }
  90% {
    transform: translate(50px);
    color: tomato;
    font-size: 140%;
  }

  100% {
    transform: none;
  }
}
.logo {
  width: 80vw;
  text-align: center;
}
.mainpic {
  width: 90%;
}
h1 {
  font-size: 3rem;
  padding: 1rem 1rem 0;
}
p {
  padding: 0 1rem 1rem;
  color: rgba(245, 245, 245, 0.966);
}
a:link,
a:visited {
  color: #fde271;
}
.Emphasis {
  font-size: 3.5rem;
  text-decoration: underline;
}
a:hover {
  font: 120%;
  font-weight: 120%;
}
a.click:link,
a.click:visited {
  color: red;
  text-decoration: none;
}
a.click:hover {
  color: rebeccapurple;
}
.text {
  padding: 2rem;
  animation-name: pop;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  background-color: #917274;
}
.clicky {
  animation: attention 2s ease-out 10s 2 normal;
}
@media screen and (min-width: 1596px) {
  .logo {
    width: 35vw;
  }
  h1 {
    font-size: 5rem;
  }
  .Emphasis {
    font-size: 6rem;
    text-decoration: underline;
  }
  .mainpic {
    position: absolute;
    height: 100vh;
    width: auto;
    top: 0;
    right: 22rem;
  }
  .text {
    width: 30vw;
    position: absolute;
    left: 18rem;
  }
}
