<nav class="nav">
  <div class="top-bar">
      <div class="logo-container">
        <img
          src="/images/Black and White logo.png"
          alt="This is the picture of the logo"
          class="logo-image"
        />
      </div>
      <div class="socials">
        <a href="#"><div class="icons"><i class="fab fa-instagram icon fa-2x"></i></div></i></a>
        <a href="#"><div class="icons"><i class="fab fa-facebook-f icon fa-2x"></i></div></a>
        <a href="#"><div class="icons"><i class="fas fa-envelope icon fa-2x"></i></div></a>
      </div>
    </div>
</nav>