* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 1rem;
  text-align: center;
  color: white;
}
img {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  object-fit: cover;
  margin: 2.5rem 1rem 1rem;
}

p {
  margin: 2rem;
  background-color: inherit;
  font: 120%;
  color: white;
  padding: 2rem 1rem;
}
.profile-head {
  background: linear-gradient(tomato, dodgerblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border-radius: 30px;
}
.profile-text {
  margin: 1rem;
  border-radius: 30px;
  background-color: dodgerblue;
}
@media screen and (min-width: 501px) {
  .profile-text,
  .profile-head {
    width: 80vw;
  }
}
@media screen and (min-width: 1000px) {
  html {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
  }
  .profile-text,
  .profile-head {
    width: 50vw;
  }
}
