* {
  margin: 0;
  padding: 0;
}
header {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
article {
  font-family: monospace;
}
.characters {
  color: brown;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
}
.main {
  padding: 2rem;
  width: 80vw;
  border-radius: 3rem;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.253);
  margin-top: 1rem;
}
.scenes,
.breaks {
  font-weight: 900;
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 140%;
  }
  .main {
    width: 50vw;
  }
}
