<article class="article article-main">
  <header class="article-header article-main--header">
    <h1>Heading</h1>
    <p class="credentials">these are the credentials</p>
  </header>
  <main class="article-main article-main--paragraph">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt ex
      distinctio nesciunt quam eius aspernatur odit perferendis, illum laborum
      hic. Corporis vel nostrum, quis ducimus quasi dolor error voluptatibus
      ipsa consectetur ut labore possimus non mollitia repudiandae voluptates
      suscipit vitae illo sunt quae reprehenderit? Esse magnam aliquid excepturi
      sint voluptate mollitia vel quia a, quibusdam tempore provident officia
      exercitationem fugit dignissimos repellendus. Cupiditate molestias
      eligendi facere expedita inventore totam magni possimus culpa neque fugit
      autem ut, rerum ullam modi optio sint repellendus voluptas? Cumque aperiam
      dolorem ab minima odit commodi quia, est distinctio suscipit architecto ad
      officia repudiandae itaque, repellat inventore asperiores voluptatum
      tempore! Voluptatem, ex. Dolorem laboriosam nihil, delectus, dolor
      expedita ea quibusdam rem quo enim maiores vitae nemo explicabo quis
      nobis, totam numquam doloribus voluptates recusandae esse minima officiis
      incidunt! Perspiciatis dolorum soluta, natus dicta ratione inventore
      similique eveniet laborum, accusantium voluptatibus iure optio eligendi
      magnam est animi doloremque provident eum vitae temporibus dignissimos
      itaque quos reprehenderit porro? Maiores minus ipsum autem ducimus
      possimus obcaecati voluptas aspernatur cupiditate ex quidem. Excepturi
      quidem inventore, voluptatem maxime laudantium molestias, harum autem
      sequi hic consequatur optio ab? Aspernatur consectetur in ipsam iure
      voluptatem nemo itaque optio. Inventore quisquam hic eaque fugit?
    </p>
  </main>
  <footer class="article-footer">
    <p class="fine-print">this is fine print</p>
  </footer>
</article>
