<a href="#"
  ><div class="element-container">
    <div class="banner pearlS hero-banner">
      <p class="banner-text">Pearl S.</p>
    </div>
    <div class="headline-imageholder">
      <img src="/images/womensRights.jpg" alt="" class="headline-image" />
    </div>
    <div class="info-hero">
      <p class="hero-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid
        asperiores eum perferendis non sapiente blanditiis eveniet delectus
        quibusdam, aliquam nulla!
      </p>
    </div>
  </div></a
>
