<a href="https://youtu.be/DiMhgHiov5E" class="linked-card"
  ><div class="card">
    <article class="article">
      <header class="article-header">
        <iframe
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/ltC03gtNtCc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="embeded-vid"
        ></iframe>
      </header>
      <main class="article-main card-main">
        <h2>Key 2 Key - We Can Afford ft. Nonzwakazi</h2>
        <p>
          One of The Spark Magazine members, Nonzwakazi, has released a music
          video. Listen and vibe to the sounds of amapianooooo!!!!
          <br />
          Click here to view -->
        </p>
      </main>
      <footer class="article-footer card-footer">
        <p class="fine-print">Fourth Edition | Ad | 31 May 2022</p>
      </footer>
    </article>
  </div>
</a>
