<div class="event-catalogue">
    <div class="modal-poster poster--secondary"><h3 id="events">Events</h3></div>
    <button data-modal-target="#modal" id="pop-up__btn">
      <article class="event-outline">
        <header class="article-header__event">
          <img src="/images/Event 1.jpeg" alt="" class="image-event" />
        </header>
        <main class="article-main__event">
          <p>TNS Invades Piggs Peak</p>
        </main>
        <footer class="article-footer__event">
          <p class="date">24 June 2022</p>
        </footer>
      </article>
    </button>
    <article class="modal" id="modal">
      <header class="modal-header">
        <div class="title">
          <h1 class="modal-title">TNS Invades Piggs Peak</h1>
        </div>
        <button data-close-button class="close-button">&times;</button>
      </header>
      <main class="modal-main">
        <img src="/images/Event 1.jpeg" alt="" class="modal-image" />
        <p class="location">Location: Piggs Peak club</p>
        <p class="price">Fee: E70 before 10PM, E100 after 10PM</p>
      </main>
      <footer class="modal-date fine-print">21 June 2022</footer>
    </article>
    <div id="overlay"></div>
    <button data-modal-target="#modal2" id="pop-up__btn">
      <article class="event-outline">
        <header class="article-header__event">
          <img src="/images/Event 2.jpeg" alt="a MotoSport poster" class="image-event" />
        </header>
        <main class="article-main__event">
          <p>Eswatini MotoSport Weekend</p>
        </main>
        <footer class="article-footer__event">
          <p class="date">1 & 2 July 2022</p>
        </footer>
      </article>
    </button>
    <article class="modal" id="modal2">
      <header class="modal-header">
        <div class="title">
          <h1 class="modal-title">Eswatini MotoSport Weekend</h1>
        </div>
        <button data-close-button class="close-button">&times;</button>
      </header>
      <main class="modal-main">
        <img src="/images/Event 2.jpeg" alt="a MotoSport poster" class="modal-image" />
        <p class="location">Location: Riders Ranch</p>
        <p class="price">Fee: Friday E150, Saturday E200</p>
      </main>
      <footer class="modal-date fine-print">1 & 2 July 2022</footer>
    </article>
    <div id="overlay"></div>
  </div>
  </div>
  