<button data-modal-target="#modal" id="pop-up__btn">
  <article class="event-outline">
    <header class="article-header__event">
      <img src="/images/ig icon.png" alt="" class="image-event" />
    </header>
    <main class="article-main__event">
      <h2>Instagram Party</h2>
    </main>
    <footer class="article-footer__event">
      <p class="date">21 June 2022</p>
    </footer>
  </article>
</button>
<article class="modal" id="modal">
  <header class="modal-header">
    <div class="title"><h1 class="modal-title">Instagram Party</h1></div>
    <button data-close-button class="close-button">&times;</button>
  </header>
  <main class="modal-main">
    <img src="/images/ig icon.png" alt="" class="modal-image" />
    <p class="location">USA</p>
    <p class="price">Fee: E70 before 10PM, E100 after 10PM</p>
  </main>
  <footer class="modal-date fine-print">2 May 2023</footer>
</article>
<div id="overlay"></div>
