<article class="article">
  <header class="article-header">
    <div class="hero-articles--overall">
      <div class="hero-articles hero--background-image">
        <img
          src="/images/SwaziflagSmall.jpg"
          alt=""
          class="hero-articles--background"
        />
      </div>
      <nav class="article-nav hero--article-nav">
        <a href="/Home/index.html" class="home-button"
          ><img src="/images/Black and White logo.png" alt="" class="home-logo"
        /></a>
        <a href="/Audios/Introduction Fourth Ed.mp3" class="audio-button"
          ><img src="/images/Play button.png" alt="" class="audio"
        /></a>
      </nav>
    </div>
  </header>
  <main class="article-main fit-on-screen">
    <article class="article article-main">
      <header class="article-header article-main--header">
        <h1>Introduction</h1>
        <p class="credentials">Written by: Mphumelelo Khaba</p>
      </header>
      <main class="article-main article-main--paragraph">
        <p class="bold">
          Yet again, welcome to the 4th edition of The Spark Magazine. As you
          begin to read this edition, you can check out our other editions out
          just to have a feel of what we are about. If you already have, I would
          like you to have a moment of self introspection right now. Ask
          yourself, “What will it take?” Maybe to live the life you want to
          live; to have the state of mind you desire; or maybe to have the
          relationships you need. I am certain that each one of us have dreams
          and desires and probably have read a couple of motivational quotes on
          Instagram that made us believe that we are capable of having it.
          Although, when we look into our lives, we are not doing that great.
          You might have been told that you are doing great but you know deep
          within where you are versus where you want to be. Presumably, you do
          not have goals at all and are waiting for your hour of death. This
          could be because you are numb to aspiration and it is much easier that
          way.
        </p>
        <p>
          In this edition we are attempting to remind everyone of the necessity
          for them to pursue their goals, dreams or healthy desires. It is not
          required for everyone to sit down and plan and introspect about what
          their really want. Intuitively, there is something we feel we should
          do at a moment, for example, greeting a person, an investment, a run,
          or inevitably planning. Our brains already know what we want and if we
          would not filter out or procrastinate those small tasks we are aware
          that our lives could be a little bit better. So why fear? Why
          procrastinate? Why hesitate? At the end of the day you know that you
          want it.
        </p>
        <div class="quotes">
          <p class="quotes-words">
            "You might have been told that you are doing great but you know deep
            within where you are versus where you want to be. "
          </p>
        </div>
        <p>
          Imagine waking up each day, brushing your teeth and taking a shower.
          For the 3rd month you have been consistently waking up on time. You
          have put enough effort to make each day a masterpiece. I believe that
          if you master your day, you master your week, then your month, your
          year, decade, unavoidably your life. Our days seem so insignificant
          that we throw them away, regularly, because we have another day called
          tomorrow. So why worry? We should worry because our days are building
          blocks of our lives. Imagine each day to be like each genetic code: it
          defines your life just like genes define how a person is. If one of
          the genes are damaged, a person can be easily susceptible to the worst
          of diseases. Even a momentary life. Is this the day that will be
          problematic your whole life (the bad gene)?
        </p>
        <a href="/images/Ad1.png" class="inline-pic-link">
          <div class="in-line-image">
            <div class="hero-articles">
              <img
                src="/images/Ad1.png"
                alt=""
                class="hero-articles--background"
              />
            </div>
            <p class="fine-print">Advertisement</p>
          </div>
        </a>

        <p>
          In order for one to exponentiate their probability of stumbling into
          success, if I may, there is an urgent need to embrace focus. Everyday
          we are clouded by the need for our dopamine to be spiked. My
          assumption is that we are more distracted than past generations. I
          might be wrong but I think that across the board we must aim to have
          moment occupied by only one task – nothing else. That is difficult but
          beneficial. Our phones and other gadgets are detrimental to our
          success at the initial stages. Discipline is the driving force in
          ensuring complete focus on our work. Thereafter our focus should be on
          the right task, not just any task.
        </p>
        <p>
          Sometimes it is easier to do all the above mentioned things whilst we
          put off what is fleetingly critical. We hide from the necessary task
          like prey from a predator. We procrastinate productively. Rather we do
          everything than that specific task. It makes sense because of the fear
          that it stirs inside us. One of the fundamental ways to know what to
          do is asking ourselves, “What do I fear the most?” and do it.
          Obviously we should not be naïve in our approach because some fears
          are necessary. Though, in most cases facing fear is the best option.
          Fear is our roadmap to freedom. Ultimately, to our success. Execution
          of this concept is also delicate: we need to move direct and quickly
          before we think too much about it.
        </p>
        <a href="/images/Ad 2.png" class="inline-pic-link">
          <div class="in-line-image">
            <div class="hero-articles">
              <img
                src="/images/Ad 2.png"
                alt=""
                class="hero-articles--background"
              />
            </div>
            <p class="fine-print">Advertisement</p>
          </div>
        </a>

        <p>
          In continuation, we ought to take immediate action. It would bring
          greater joy if you decided to let go of this magazine right now to
          start, continue and/or finish an important task you have right now.
          Like. Right. Now! But do not feel bad because, by chance, reading this
          magazine could be that task. Even if it is not, that does not mean
          beat yourself up about not being able to today – although, I would
          rather you execute the task – live to fight another day.
        </p>
        <p>
          There are more tips and they are endless but to focus the introduction
          to what is important. As said in previous magazines, I believe that
          emaSwati should also focus on themselves. Because in our aim to become
          an ideal country we ought to be tough enough to put in the work. Just
          like the name, our aim is to ignite the spark of love for the nation
          despite and in spite of the conditions. To emphasize, it will take us
          to see it through, being the driving force for change in the country.
          We ought to strive with our blood and tears because it must happen. As
          you continue to read the magazine, focus on what you can do, how your
          dreams and goals are going to bring a positive change to liSwati,
          emaSwati and the country as a whole.
        </p>
      </main>
    </article>
  </main>
  <footer class="article-footer">
    <footer>
      <article class="article">
        <header class="article-header"><h4>Follow us</h4></header>
        <main class="icon-row">
          <a href="#">
            <div class="icons"><i class="fab fa-facebook-f"></i></div>
          </a>
          <a href="#">
            <div class="icons"><i class="fab fa-instagram"></i></div>
          </a>
        </main>
        <footer class="article-footer">
          <p class="fine-print">Copyright 2022</p>
        </footer>
      </article>
    </footer>
  </footer>
</article>
