<a href="#" class="linked-card"
  ><div class="card">
    <article class="article">
      <header class="article-header">
        <img src="/images/Esihle.png" alt="" class="headline__image" />
      </header>
      <main class="article-main card-main">
        <h2>Information</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, eligendi!
        </p>
      </main>
      <footer class="article-footer card-footer">
        <p class="fine-print">this is fine print</p>
      </footer>
    </article>
  </div>
</a>
