<div class="hero-articles--overall">
  <div class="hero-articles hero--background-image">
    <img
      src="/images/Lulama Vid.jpg"
      alt=""
      class="hero-articles--background"
    />
  </div>
  <nav class="article-nav hero--article-nav">
    <a href="/Home/index.html" class="home-button"
      ><img src="/images/Black and White logo.png" alt="" class="home-logo"
    /></a>
    <a href="/Audios/Introduction Fourth Ed.mp3" class="audio-button"
      ><img src="/images/Play button.png" alt="" class="audio"
    /></a>
  </nav>
</div>
