<div class="linked-list linked-list-container">
  <ul class="list">
    <a href="#" class="linked-list linked-list__nav"
      ><li class="list-item list__in-line">Item 1</li></a
    ><a href="#" class="linked-list linked-list__nav"
      ><li class="list-item list__in-line">Item 2</li></a
    ><a href="#" class="linked-list linked-list__nav"
      ><li class="list-item list__in-line">Item 3</li></a
    >
  </ul>
</div>

<!--menu linked list-->
<div class="nav-bar__modal">
  <div class="linked-list linked-list__nav-bar">
    <ul class="list list-menu__nav-bar">
      <a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 1</li></a
      ><a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 2</li></a
      ><a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 3</li></a
      >
    </ul>
  </div>
</div>

<!--Linked list with headings-->
<div class="linked-list-heading">
  <div class="linked-list linked-list-container linked-list-container__header">
    <h2 class="list-header">header</h2>
    <ul class="list list__header">
      <a href="#" class="link-list__header"
        ><li class="list-item list__in-line list-item__header">Item 1</li></a
      ><a href="#" class="link-list__header"
        ><li class="list-item list__in-line list-item__header">Item 2</li></a
      ><a href="#" class="link-list__header"
        ><li class="list-item list__in-line list-item__header">Item 3</li></a
      >
    </ul>
  </div>
</div>

<!---->
