<button data-modal-target="#modal" id="pop-up__btn">open</button>
<article class="modal" id="modal">
  <header class="modal-header">
    <div class="title">Example pop-up</div>
    <button data-close-button class="close-button">&times;</button>
  </header>
  <main class="modal-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga veritatis
    ssi corporis explicabo voluptates minus,
  </main>
</article>
<div id="overlay"></div>
</body>

<!--Modal Nav Bar-->
<div class="btn-container btn-container__nav">
  <button class="btn__nav" data-modal-target="#modal" id="pop-up__btn">
    <i class="fas fa-bars icons icons__nav fa-2x"></i>
  </button>
</div>
<div class="nav-bar__modal modal" id="modal">
  <div class="btn-container btn-container__nav modal-close-btn">
    <button data-close-button class="btn__nav close-button">
      <i class="fas fa-times icons icons__nav fa-2x"></i>
    </button>
  </div>
  <div class="linked-list linked-list__nav-bar">
    <ul class="list list-menu__nav-bar">
      <a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 1</li></a
      ><a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 2</li></a
      ><a href="#" class="linked-list"
        ><li class="list-item list__in-line list-item__nav">Item 3</li></a
      >
    </ul>
  </div>
</div>
<div id="overlay"></div>