<!--navigation bar-->
<div class="navigation-bar">
  <!--Logo for navigation bar-->
  <div class="logo-container__nav">
    <img
      src="/images/Black and White logo.png"
      alt="this is the logo of the Spark Magazine"
      class="logo__nav"
    />
  </div>
  <!--Bigger screen nav-->
  <div class="bigger-screen__nav">
    <div class="linked-list linked-list-container">
      <ul class="list bigger-screen-list">
        <a href="#" class="linked-list linked-list__nav"
          ><li class="list-item list__in-line">Item 1</li></a
        ><a href="#" class="linked-list linked-list__nav"
          ><li class="list-item list__in-line">Item 2</li></a
        ><a href="#" class="linked-list linked-list__nav"
          ><li class="list-item list__in-line">Item 3</li></a
        >
      </ul>
    </div>
  </div>

  <!--Modal Nav Bar-->
  <div class="btn-container btn-container__nav open-menu__nav">
    <button class="btn__nav" data-modal-target="#modal" id="pop-up__btn">
      <i class="fas fa-bars icons icons__nav fa-2x"></i>
    </button>
  </div>
  <div class="nav-bar__modal modal" id="modal">
    <div class="btn-container btn-container__nav modal-close-btn">
      <button data-close-button class="btn__nav close-button">
        <i class="fas fa-times icons icons__nav fa-2x"></i>
      </button>
    </div>
    <div class="linked-list linked-list__nav-bar">
      <ul class="list list-menu__nav-bar">
        <a href="#" class="linked-list"
          ><li class="list-item list__in-line list-item__nav">Item 1</li></a
        ><a href="#" class="linked-list"
          ><li class="list-item list__in-line list-item__nav">Item 2</li></a
        ><a href="#" class="linked-list"
          ><li class="list-item list__in-line list-item__nav">Item 3</li></a
        >
      </ul>
    </div>
  </div>
  <div id="overlay"></div>
</div>
