<section class="hero fit-to-screen">
    <div class="logo-container">
      <a href="/Home/index.html" class="logo-link">
        <img
          src="/images/logo.png"
          alt="This is the picture of the logo"
          class="logo-image"
        />
      </a>
    </div>
    <div class="cover-image__container">
      <img src="/images/SwaziflagSmall.jpg" alt="" class="cover-image" />
    </div>
    <div class="audio">
      <audio src="/audio/Introduction- Fourth Edition.mp3" controls></audio>
    </div>
  </section>
  <nav class="hero fit-to-screen">
    <div class="socials">
      <a href="https://www.instagram.com/thesparkmagazineesw/"><div class="icons"><i class="fab fa-instagram icon fa-2x"></i></div></i></a>
      <a href="https://www.facebook.com/thesparksd/"><div class="icons"><i class="fab fa-facebook-f icon fa-2x"></i></div></a>
      <a href="mailto:mpukaba.official@gmail.com"><div class="icons"><i class="fas fa-envelope icon fa-2x"></i></div></a>
    </div>
    <div class="comment-btn__container icons">
      <button class="comment" id="popUp">
        <i class="fas fa-comment fa-2x"></i>
      </button>
    </div>     
</nav>
  <article class="articles fit-to-screen">
    <h1 class="article-title">Introduction</h1>
    <p class="article-date">Last edited: 7/4/2022</p>
    <p class="article-start">
      Yet again, welcome to the 4th edition of The Spark Magazine.
    </p>
    <p>
      In this edition we are attempting to remind everyone of the necessity
      for them to pursue their goals, dreams or healthy desires. 
    </p>

    <div class="quote dark intro-red">
      <p>
        "In this edition we are attempting to remind everyone of the necessity
        for them to pursue their goals, dreams or healthy desires."
      </p>
    </div>

   

    <div class="article-images">
      <img src="/images/image-a spark.webp" alt="" class="cover-image" />
    </div>

   
  </article>