<article class="articles">
  <h1 class="article-title">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, sunt.
  </h1>
  <p class="article-date">Last edited: 7/4/2022</p>
  <p class="article-start">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis autem
    provident culpa error iusto, natus rerum adipisci illum mollitia sequi?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto repellat
    voluptatum molestias illum eum vel reprehenderit quam deserunt impedit fuga
    eligendi voluptatibus quasi consequuntur nam officia, unde rem saepe
    doloribus natus nihil ea magnam quidem!
  </p>

  <div class="quote dark black">
    <p>"unde rem saepe doloribus natus nihil ea magnam quidem!"</p>
  </div>

  <div class="article-images">
    <img src="/images/SwaziflagSmall.webp" alt="" class="cover-image" />
  </div>
</article>
