<div class="comment-interface">
    <div class="comment-area">
      <div class="comments">
        <div class="commment__container">
          <div class="comment-text">
            <p>Hey There.</p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="commment__container">
          <div class="comment-text">
            <p>Hi, how are you?</p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="commment__container">
          <div class="comment-text">
            <p>I am fine and you?</p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="commment__container">
          <div class="comment-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
              modi voluptates nihil ut eos molestias ullam, nemo corporis
              soluta consequatur officia accusamus sapiente impedit laboriosam
              tempore consequuntur. Deserunt laboriosam vitae animi repellat,
              excepturi corporis quibusdam provident mollitia totam suscipit
              iure adipisci ad, laborum voluptates. Alias, debitis recusandae
              assumenda repellat quasi est neque vitae ducimus voluptates
              dolorem sed eveniet nemo nostrum, molestias sunt asperiores
              delectus! Asperiores sint, nulla inventore atque quo beatae cum
              placeat necessitatibus, omnis ratione molestias modi magnam
              minus saepe odio ea praesentium? Magnam expedita neque debitis,
              perspiciatis nisi, autem perferendis, aliquid quis illum at sint
              excepturi omnis quia.
            </p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="commment__container">
          <div class="comment-text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
              modi voluptates nihil ut eos molestias ullam, nemo corporis
              soluta consequatur officia accusamus sapiente impedit laboriosam
              tempore consequuntur. Deserunt laboriosam vitae animi repellat,
              excepturi corporis quibusdam provident mollitia totam suscipit
              iure adipisci ad, laborum voluptates. Alias, debitis recusandae
              assumenda repellat quasi est neque vitae ducimus voluptates
              dolorem sed eveniet nemo nostrum, molestias sunt asperiores
              delectus! Asperiores sint, nulla inventore atque quo beatae cum
              placeat necessitatibus, omnis ratione molestias modi magnam
              minus saepe odio ea praesentium? Magnam expedita neque debitis,
              perspiciatis nisi, autem perferendis, aliquid quis illum at sint
              excepturi omnis quia.
            </p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
    <form class="comment-input">
      <input type="text" placeholder="write comment" />
      <button class="submit">
        <i class="fas fa-chevron-right fa-2x"></i>
      </button>
    </form>
  </div>

  <!-- comment update -->
  <div class="comment-interface">
    <div class="comment-area">
      <div class="comments">
        <div class="commment__container">
          <div class="comment-text">
            <p>Hey There.</p>
          </div>
          <div class="delete-btn__container">
            <button class="delete-btn">
              <i class="fas fa-trash-alt fa-2x"></i>
            </button>
          </div>
        </div>
        
      </div>
      </div>
    </div>
    <form class="comment-input add">
      <input type="text" placeholder="write comment" name="comment" />
      <button class="submit"><i class="fas fa-chevron-right fa-2x"></i></button>
    </form>
    <!-- <form class="delete-btn__container delete">
      <input type="text" placeholder="enter id" name="id" required />
      <button class="delete-btn"><i class="fas fa-trash-alt fa-2x"></i></button>
    </form> -->
  </div>