<div class="commment__container">
      <div class="comment-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint
          laudantium eaque consequatur ipsum facilis vel tempore numquam nisi
          nesciunt blanditiis veritatis atque quae, rerum, enim aliquam veniam
          odit minus, perspiciatis libero aspernatur commodi? Provident nemo
          animi deserunt, quibusdam placeat fugit delectus nostrum atque culpa
          obcaecati natus! Incidunt cumque atque quis, at repellendus quae
          inventore sapiente cum corrupti consequatur aliquam dolores aspernatur
          illum optio earum ipsum eaque soluta explicabo ea voluptatem sed, qui
          repudiandae sit voluptas? Dolor nostrum dolorem ab ea, ipsum iste quia
          atque impedit dolorum officia quod minus exercitationem maxime fugit
          perspiciatis blanditiis necessitatibus odit optio repudiandae cum vero
          inventore totam deleniti?
        </p>
      </div>
      <div class="delete-btn__container">
        <button class="delete-btn">
          <i class="fas fa-trash-alt fa-2x"></i>
        </button>
      </div>
</div>