<footer>
  <div class="footer">
    <div class="footer-section">
      <h3>What is this?</h3>
      <p>
        The magazine is a platform and catalogue for the youth to be inspired,
        to showcase our heroes who are working effortlessly in the backgrounds
        and forefront in making our beloved eSwatini a better place for all. It
        is the voice for the voiceless. It is a platform where people are given
        a chance to confidently lay out their souls to fellow emaSwati and the
        world at large. It is there to reconstruct and unleash the real beauty
        of this country. It is an empowering vehicle that aims to empower and
        replenish the lost hope in the entire Swati nation. It will entail
        interesting thoughts, mind boggling facts and opportunities for people
        to get up from their couches and not so comfortable "comfort" zones and
        actually do something in making our dreams a reality!
      </p>
    </div>
    <div class="footer-section">
      <h3>Last words</h3>
      <p>
        We may not know for sure when exactly this great change will come to
        pass, but we know for sure that change is inevitable! The winds of
        change are blowing already. It is up to us as a nation to unite and
        soldier on in freeing ourselves from ignorance and deprivation. All we
        am asking is for us to change our mindset towards the challenges we are
        faced with as a nation. The challenge for us, as emaSwati, is to put it
        on ourselves to win this attack on our precious land. To break the
        insidious cycle of inadequacy and deprivation. Each one of us has to
        take some responsibility. Each one of us has to do some introspection
        and have a conversation with oneself as to what attempts can one do to
        shape and create the eSwatini generations have been yearning for. No
        effort is too little at this point. Individualism is not an African
        trait hence it has destroyed our precious land. We need to stand up
        eSwatini and fight for our land, for our rights. If we really need those
        jobs, undegraded education, lucrative income, freedom of expression
        amongst other things, we need not run away. There is more for each one
        of us here at home. We must stay and fight intellectually. It is
        possible, only if we work in solidarity. Now is the time!
      </p>
    </div>
  </div>
</footer>
