<nav>
    <div class="socials">
        <a href="#"><div class="icons"><i class="fab fa-instagram icon fa-2x"></i></div></i></a>
        <a href="#"><div class="icons"><i class="fab fa-facebook-f icon fa-2x"></i></div></a>
        <a href="#"><div class="icons"><i class="fas fa-envelope icon fa-2x"></i></div></a>
      </div>
      <div class="comment-btn__container icons">
        <button class="comment" id="popUp">
          <i class="fas fa-comment fa-2x"></i>
        </button>
      </div>    
</nav>
<div class="modal-container" id="modal_container">
    <button id="closePopUp"><i class="fas fa-times fa-2x"></i></button>
    <div class="comment-interface-modal___container">
    </div>
</div>