<nav>
    <div class="socials">
      <a href="https://www.instagram.com/thesparkmagazineesw/"><div class="icons"><i class="fab fa-instagram icon fa-2x"></i></div></i></a>
      <a href="https://www.facebook.com/thesparksd/"><div class="icons"><i class="fab fa-facebook-f icon fa-2x"></i></div></a>
      <a href="mailto:mpukaba.official@gmail.com"><div class="icons"><i class="fas fa-envelope icon fa-2x"></i></div></a>
    </div>
    <div class="comment-btn__container icons">
      <button class="comment" id="popUp">
        <i class="fas fa-comment fa-2x"></i>
      </button>
    </div>    
</nav>