* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.head {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
}
.home-button {
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.home-link:link,
.home-link:visited {
  color: #c5c5c5;
}
.home-link:hover {
  color: grey;
}
